:root {
  /* Add these styles to your global stylesheet, which is used across all site pages. You only need to do this once. All elements in the library derive their variables and base styles from this central sheet, simplifying site-wide edits. For instance, if you want to modify how your h2's appear across the site, you just update it once in the global styles, and the changes apply everywhere. */
  --primary: #784c1e;
  --headerColor: #1a1a1a;
  --bodyTextColor: #4e4b66;
  /* 13px - 16px */
  --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
  /* 31px - 49px */
  --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
  --bodyFontSize: 1rem;
  /* 60px - 100px top and bottom */
  --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
}

body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  /* prevents padding from affecting height and width */
  box-sizing: border-box;
}
.cs-topper {
  font-size: var(--topperFontSize);
  line-height: 1.2em;
  text-transform: uppercase;
  text-align: inherit;
  letter-spacing: .1em;
  font-weight: 700;
  color: var(--primary);
  margin-bottom: 0.25rem;
  display: block;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.cs-title {
  font-size: var(--headerFontSize);
  font-weight: 900;
  line-height: 1.2em;
  text-align: inherit;
  max-width: 43.75rem;
  margin: 0 0 1rem 0;
  color: var(--headerColor);
  position: relative;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.cs-text {
  font-size: 18px;
  line-height: 1.5em;
  text-align: inherit;
  width: 100%;
  max-width: 40.625rem;
  margin: 0;
  color: var(--bodyTextColor);
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  margin-left: 100px;
}



/*-- -------------------------- -->
<---        Header          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  /* #collection-1602 {
    padding: 20px;
  } */
  #collection-1602 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
    z-index: 1;
  }
  #collection-1602 .cs-content {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
  #collection-1602 .cs-title-logo {
    display: inline-block;
  }
  #collection-1602 .cs-title-logo img {
    width: 90px;
    vertical-align: middle;
    margin-top: -10px;
    margin-left: -30px;
  }
  #collection-1602 .cs-title-text {
    display: inline-block;
    font-size: 25px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    }
  }
  #collection-1602 .cs-title {
    margin: 0;
  }
  #collection-1602 .cs-button-group {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* 16px - 32px */
    gap: clamp(1rem, 4vw, 2rem);
  }
  #collection-1602 .cs-button {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2em;
    text-transform: uppercase;
    padding: 0;
    color: var(--bodyTextColor);
    background-color: transparent;
    border: none;
    position: relative;
    transition: color 0.3s;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  #collection-1602 .cs-button:before {
    content: "";
    width: 0;
    height: 1px;
    background: var(--primary);
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s;
  }
  #collection-1602 .cs-button:hover {
    color: var(--primary);
    cursor: pointer;
  }
  #collection-1602 .cs-button:hover:before {
    width: 100%;
  }

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #collection-1602 .cs-content {
    flex-direction: row;
    justify-content: space-between;
  }
}



/*-- -------------------------- -->
<---      Main         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #why-choose-1634 {
    padding: var(--sectionPadding);
  }
  #why-choose-1634 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 100px */
    gap: clamp(3rem, 10vw, 6.25rem);
  }
  #why-choose-1634 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #why-choose-1634 .cs-flex {
    max-width: 38.5rem;
  }
  #why-choose-1634 .cs-title {
    max-width: 20ch;
  }
  #why-choose-1634 .cs-text {
    margin-bottom: 1rem;
  }
  #why-choose-1634 .cs-text:last-of-type {
    margin-bottom: 0;
  }
  #why-choose-1634 .cs-wrapper {
    width: 100%;
  }
  #why-choose-1634 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 1.75rem;
    /* 16px - 20px */
    column-gap: clamp(1rem, 2.3vw, 1.25rem);
  }
  #why-choose-1634 .cs-item {
    text-align: left;
    list-style: none;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    grid-column: span 12;
    flex-direction: column;
    align-items: flex-start;
    /* 16px - 24px */
    gap: clamp(1rem, 3vw, 1.5rem);
  }
  #why-choose-1634 .cs-icon-wrapper {
    /* 60px - 80px */
    width: clamp(3.75rem, 7vw, 5rem);
    height: clamp(3.75rem, 7vw, 5rem);
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #why-choose-1634 .cs-icon {
    width: 2rem;
    height: auto;
    display: block;
    margin-bottom: 20px;
  }
  #why-choose-1634 .cs-h3 {
    font-size: 1.25rem;
    line-height: 1.5em;
    margin: 0;
    margin-bottom: 0.5rem;
    color: var(--headerColor);
    text-align: inherit;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  #why-choose-1634 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    margin: 0;
    color: var(--primary);
    text-align: inherit;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 150;
    font-style: normal;
  }
  #why-choose-1634 .cs-wrapper {
    /* makes the contents of this container act as though the container doesn't exist. They are now children of the cs-container so they can be positioned around each other. This allows us to sue the order property to place the cs-image-group at the top of the page on mobile */
    display: contents;
  }
  #why-choose-1634 .cs-image-group {
    font-size: min(2.7vw, 1em);
    width: 33.875em;
    height: 30.875em;
    /* sends it to teh top in the 1st position */
    order: -1;
    position: relative;
    z-index: 1;
  }
  #why-choose-1634 .cs-picture-wrapper {
    width: 80.073801%;
    height: 83.805668%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
  }
  #why-choose-1634 .cs-box {
    width: 60%;
    margin-top: -2.375em;
    margin-left: 300px;
    padding: 1em;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
    position: relative;
    z-index: 10;
    margin-bottom: -100px;
  }
  #why-choose-1634 .cs-header {
    font-size: 18px;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: var(--headerColor);
    display: block;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  #why-choose-1634 .cs-desc {
    font-size: 0.875em;
    line-height: 1.5em;
    margin: 0;
    color: var(--primary);
    display: block;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  #why-choose-1634 .cs-picture {
    position: relative;
    z-index: 1;
  }
  #why-choose-1634 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #why-choose-1634 .cs-container {
    max-width: 80rem;
  }
  #why-choose-1634 .cs-content {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #why-choose-1634 .cs-flex {
    text-align: left;
    width: 40vw;
    max-width: 40rem;
    flex: none;
  }
  #why-choose-1634 .cs-title {
    margin: 0;
  }
  #why-choose-1634 .cs-h3,
  #why-choose-1634 .cs-item-text {
    text-align: left;
  }
  #why-choose-1634 .cs-item {
    grid-column: span 4;
  }
  #why-choose-1634 .cs-image-group {
    width: 100%;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #why-choose-1634 {
    /* set the darker background color on the main div */
    background-color: #F8F5F1;
    overflow: hidden;
  }
  #why-choose-1634 .cs-content {
    align-items: flex-start;
  }
  #why-choose-1634 .cs-flex {
    width: 50%;
  }
  #why-choose-1634 .cs-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 2.5rem;
    position: relative;
    z-index: 1;
  }
  #why-choose-1634 .cs-wrapper:before {
    /* make the white space dependant on the height of the cs-wrapper as a pseudo element attached to the cs wrapper. This makes the white background responsive to the amount of items you have in your list. When the list grows or shrinks, the design will maintain its same spacing */
    content: '';
    width: 100vw;
    height: 100vw;
    background: #fff;
    opacity: 1;
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
  }
  #why-choose-1634 .cs-card-group {
    max-width: 39.375rem;
    /* use padding to push add the same amount of space between the content and the top of the card group as the negative margin top value on the cs-image-group. This makes sure that it counter acts the effects of the negative margin affecting the card group as well */
    padding-top: 3rem;
    align-self: flex-start;
  }
  #why-choose-1634 .cs-image-group {
    width: 33.875em;
    /* by setting height to auto, it will stretch to fill the container height. So when you add or subtract more cards and change the height of the container, the image group will shrink as well. Thats why we set the heights of the images in percentages. They will always be X% tall inside the cs-image-group. So when the image group stretches to match the container height, the pictures percentage height also grows proportionally. This ensures the design responds to changes in height from the card section on the left. */
    height: auto;
    min-height: 30.875em;
    /* makes it overlap the .cs-wrapper div */
    margin-top: -3rem;
    order: 2;
    flex: none;
  }
  #why-choose-1634 .cs-item {
    grid-column: span 12;
    flex-direction: row;
  }
}



/*-- -------------------------- -->
<---          Opening Hours           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews-354 {
    padding-bottom: 100px
  }
  #reviews-354 .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
  }
  #reviews-354 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
  }

  #reviews-354 .cs-card-group {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      /* 16px - 20px */
      gap: clamp(1rem, 2.5vw, 1.15rem);
  }
  #reviews-354 .cs-item {
      list-style: none;
      width: 100%;
      max-width: 39.375rem;
      /* 24px - 32px top & bottom */
      /* 16px - 40px left & right */
      padding: clamp(1.5rem, 3.15vw, 2rem) clamp(1rem, 3.15vw, 2.5rem);
      background-color: #f7f7f7;
      border-radius: 1rem;
      /* prevents padding from adding to height and width */
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      position: relative;
  }
  #reviews-354 .cs-review {
      /* 14px - 20px */
      font-size: clamp(0.875rem, 2vw, 1.25rem);
      line-height: 1.5em;
      margin: 0;
      /* 20px - 40px */
      margin-bottom: clamp(1.25rem, 3vw, 2.5rem);
      color: var(--primary);
      align-self: center;
      font-family: "Nunito Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;
      text-align: center;
  }
  #reviews-354 .cs-name {
      /* 20px - 25px */
      font-size: clamp(1.25rem, 3vw, 1.5625rem);
      line-height: 1.2em;
      font-weight: 700;
      margin: 0;
      /* in case one card has more text than the other, this pushes up against the review text so the name and title are always at the bottom. Only works if parent is a flexbox */
      margin-top: auto;
      color: var(--headerColor);
      display: block;
      font-family: "Nunito Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;
      margin-bottom: 30px;
      align-self: center;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #reviews-354 .cs-card-group {
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
  }
}

                              

/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cs-footer-1292 {
      padding: var(--sectionPadding);
      padding-bottom: 1.25rem;
      box-sizing: border-box;
      overflow: hidden;
      position: relative;
      z-index: 10;
      background-color: #F8F5F1;
      /* Navigation Links */
  }
  #cs-footer-1292 .cs-container {
      width: 100%;
      margin: auto;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      column-gap: 1.5rem;
      row-gap: 2.25rem;
  }
  #cs-footer-1292 .cs-logo-group {
      /* takes up all the space, lets the other ul's wrap below it */
      width: 100%;
      position: relative;
  }
  #cs-footer-1292 .cs-logo {
      width: 12.3125rem;
      height: auto;
      display: block;
      /* 20px - 24px */
      margin: 0 0 clamp(1.25rem, 2vw, 1.5rem) 0;
  }
  #cs-footer-1292 .cs-logo-text {
      width: 100%;
      height: auto;
      font-size: 25px;
      font-family: "Roboto Slab", serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;
  }
  #cs-footer-1292 .cs-text {
      font-size: 0.875rem;
      line-height: 1.5em;
      /* 20px - 36px */
      margin: 0 0 clamp(1.25rem, 3vw, 2.25rem);
      width: 78%;
      max-width: 15rem;
      color: var(--bodyTextColor);
  }
  #cs-footer-1292 .cs-link {
      font-size: 0.875rem;
      line-height: 1.5em;
      text-decoration: none;
      margin: 0;
      color: var(--headerColor);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.75rem;
      transition: color 0.3s;
      font-family: "Nunito Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;
  }
  #cs-footer-1292 .cs-link:hover {
      color: var(--primary);
  }
  #cs-footer-1292 .cs-nav {
      width: 45%;
      max-width: 11.25rem;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      gap: 1rem;
  }
  #cs-footer-1292 .cs-nav-li {
      list-style: none;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
  }
  #cs-footer-1292 .cs-header {
      font-size: 18px;
      line-height: 1.2em;
      font-weight: 700;
      margin-bottom: 0.5rem;
      color: var(--headerColor);
      position: relative;
      display: block;
      font-family: "Nunito Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;
  }
  #cs-footer-1292 .cs-nav-link {
      font-size: 0.875rem;
      text-decoration: none;
      line-height: 1.5em;
      width: auto;
      color: var(--bodyTextColor);
      position: relative;
      display: inline-block;
      transition: color 0.3s;
      font-family: "Nunito Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;
      color: var(--primary);
  }
  #cs-footer-1292 .cs-nav-link:before {
      /* underline */
      content: "";
      width: 0%;
      height: 0.125rem;
      background: currentColor;
      opacity: 1;
      position: absolute;
      display: block;
      bottom: -0.125rem;
      left: 0;
      transition: width 0.3s;
  }
  #cs-footer-1292 .cs-nav-link:hover {
      color: var(--primary);
  }
  #cs-footer-1292 .cs-nav-link:hover:before {
      width: 100%;
  }
  #cs-footer-1292 .cs-bottom {
      max-width: 80rem;
      margin: auto;
      /* 48px - 100px */
      margin-top: clamp(3rem, 9vw, 6.25rem);
      /* 20px - 32px */
      padding: clamp(1.25rem, 3vw, 2rem) 0 0 0;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      column-gap: 2.25rem;
      row-gap: 0.75rem;
  }
  #cs-footer-1292 .cs-copyright,
  #cs-footer-1292 .cs-copyright-link {
      font-size: 0.875rem;
      line-height: 1.5em;
      color: var(--bodyTextColor);
      font-family: "Nunito Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;
  }
  #cs-footer-1292 .cs-copyright {
      text-align: center;
      width: 100%;
  }
  #cs-footer-1292 .cs-copyright-link {
      text-decoration: none;
      transition: color 0.3s;
  }
  #cs-footer-1292 .cs-copyright-link:hover {
      color: var(--secondary);
  }
  #cs-footer-1292 .cs-floater {
      width: 31.625rem;
      height: 31.625rem;
      margin-left: 34.375rem;
      border-radius: 50%;
      border: 2px solid var(--primary);
      opacity: 0.1;
      display: none;
      position: absolute;
      left: 50%;
      top: 0;
      z-index: -1;
  }
  #cs-footer-1292 .cs-floater:before {
      content: "";
      width: 44.6875rem;
      height: 44.6875rem;
      border: 2px solid var(--primary);
      border-radius: 50%;
      opacity: 0.6;
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  #cs-footer-1292 .cs-floater:after {
      content: "";
      width: 60.1875rem;
      height: 60.1875rem;
      border: 2px solid var(--primary);
      border-radius: 50%;
      opacity: 0.3;
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #cs-footer-1292 .cs-container {
      row-gap: 0;
      flex-direction: row;
      flex-wrap: nowrap;
      column-gap: 5.5rem;
      row-gap: 2.5rem;
  }
  #cs-footer-1292 .cs-nav {
      width: auto;
  }
  #cs-footer-1292 .cs-bottom {
      flex-wrap: nowrap;
      justify-content: flex-start;
  }
  #cs-footer-1292 .cs-copyright {
      text-align: left;
      width: auto;
      margin-right: auto;
  }
  #cs-footer-1292 .cs-floater {
      display: block;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #cs-footer-1292 .cs-container {
      max-width: 80rem;
      flex-wrap: nowrap;
      /* align everything to the right */
      justify-content: flex-end;
      column-gap: clamp(2.5rem, 6vw, 5.25rem);
  }
  #cs-footer-1292 .cs-logo-group {
      width: 30%;
      max-width: 24.1875rem;
      /* pushes away from everything to the right */
      margin-right: auto;
  }
  #cs-footer-1292 .cs-text {
      width: 100%;
  }
  #cs-footer-1292 .cs-graphic {
      display: block;
  }
}




/* for slideshow */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides .mySlideImage {
  object-fit: cover;
  width: 434px;
  height: 280px;
  margin-bottom: -100px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}